<h1 class="big-title text-white" style="padding:  18px 18px 10px 18px">
  You have <%= @untagged_tracks_count %> untagged tracks,
  <span class="big-title text-mprimary"> let's tag them! </span>
</h1>

<div style="margin-left: 18px" class="d-flex align-items-center mb-3">
  <div class='msearch d-flex align-items-center'>
    <div class="my-dropdown-menu-autocomplete d-none"></div>
    <i class="fas fa-search"></i>

    <input
    disabled
    id="input-search"
    autocomplete="off"
    type="textarea"
    name="tags"
    placeholder="Find tags (wait v2)">
  </div>

  <div class="ml-3 mr-3 btn-filter text-white d-flex justify-content-center align-items-center" onclick='toggleModal("sort-tag-modal")'>
    Filters
  </div>
</div>

<div class="accordion" id="accordionExample">

  <%= render 'shared/collapse',
  tag_name: "Untagged tracks",
  count: @untagged_tracks_count,
  id: "tasoeur",
  path: show_untagged_tracks_path,
  date: -1,
  tag_id: -1
   %>

  <% @tags.each_with_index do |tag, index| %>
    <%= render'shared/collapse',
    tag_name:     tag[0],
    count:        tag[3],
    id:           tag[0],
    date:         tag[1],
    tag_id:       tag[2],
    path:         tag_path(tag[0]) %>
  <% end %>

</div>

<div data-list-tags="<%= @user_tags %>" id="hidden-list-tag" class="d-none"></div>

<div data-subfilters="" id="hidden-subfilters" class="d-none"></div>

<%= form_with(url: '/bulk-modal', method: 'get', local: true, class: '', id: 1) do %>
  <%= hidden_field_tag(:tracks, nil, id: 'hidden-input-user-tracks-ids', name: "user-track-ids", value: '') %>
  <%= hidden_field_tag(:tracks, nil, id: 'hidden-input-playlist-id', name: "playlist-id", value: @id) %>
  <%= submit_tag("", class: 'primary-btn btn-fixed d-none', id: 'bulk-tag') %>
<% end %>

<div
  class="d-none"
  data-challenge-completed="<%= @challenge_completed %>"
  data-user-points="<%= @points %>"
  data-user-status="<%= @status %>"
  data-status-changed="<%= @status_changed %>"
  id="manage_achievements"
  >
</div>

<%= render 'shared/sort-tag-modal' %>
