<h1 class="big-title text-white" style="padding:  18px 18px 10px 18px">
  You have <%= @untagged_tracks_count %> untagged tracks,
  <span class="big-title text-mprimary"> let's tag them! </span>
</h1>

<div id="bulk-tag" class="primary-btn btn-fixed d-none" style="z-index: 100"></div>

<div class="accordion" id="accordionExample">

  <%= render 'shared/collapse',
  tag_name: "Untagged tracks",
  count: @untagged_tracks_count,
  id: "tasoeur",
  path: show_untagged_tracks_path %>

  <% @sptags.each_with_index do |sptag, index| %>
    <%= render'shared/collapse',
    tag_name: sptag[0],
    count: sptag[1],
    id: sptag[0],
    path: sptag_showtracks_path(sptag) %>
  <% end %>

</div>

<%= render 'shared/bulk-tag-modal', tags: @modal_tags %>

<div data-list-tags="<%= @user_tags %>" id="hidden-list-tag" class="d-none"></div>
<div data-subfilters="" id="hidden-subfilters" class="d-none"></div>
