<div class="bulk-tag-modal d-none">
  <img src="https://image.flaticon.com/icons/png/512/61/61155.png" class="close-icon tag-modal-icon"></img>
  <div class="d-flex align-items-center">
    <i class="fas fa-tags"></i>
    <h1 class="big-title ml-2 text-white">Tag my tracks</h1>
  </div>
  <%= render 'shared/searchbar' %>
  <div class="mt-2 badge-container">
    <% tags.each do |tag| %>
      <div class="mtag tag-inactive"> <%= tag %> </div>
    <% end %>
  </div>

  <%= form_with(url: '/add-tags', method: 'post', local: false) do %>

    <%= hidden_field_tag(:tags, nil, id: 'hidden-input-tracks-ids', name: 'track-ids') %>
    <%= hidden_field_tag(:tags, nil, id: 'hidden-input-tags', name: 'tags') %>

    <%= submit_tag 'Add tags', class: 'mt-3 secondary-btn bulk-tag-submit', id: 'btn-submit-filter' %>
  <% end %>
</div>
