<div class="card">
  <%=  link_to path, remote: true do %>
  <div class="card-header mbt" id="heading<%= id %>">
    <h2 class="mb-0" style="position: relative;">
      <i class="fas fa-chevron-down"></i>

        <button
          class="btn btn-link btn-block collapse-title"
          type="button"
          data-toggle="collapse"
          data-target="#collapse<%= id %>"
          aria-expanded="true"
          aria-controls="collapse<%= id %>">
          <%= "#{tag_name}" %>
          <span class="not-bold"> <%= "(#{count})" %>  </span>
        </button>

    </h2>
  </div>
  <% end %>

  <div id="collapse<%= id %>"
  class="collapse"
  aria-labelledby="heading<%= id %>"
  data-parent="#accordionExample">
    <div class="card-body card-body-flex" id="<%= id %>">
    </div>
  </div>
</div>
