<% ratio = actual.fdiv(max) * 100 %>
<div class="row-container">
  <%= link_to playlist_path(id), class: 'link-row' do %>
    <div class="row-cover" style="background-image: url(<%= cover %>)"></div>
      <div class="row-details">
        <span class="row-title active-color line-clamp"><%= title %></span>
        <span class="row-subtitle"><%= subtitle %>, <span class=" <%= pl_cl(ratio) %> "> <%= actual %> </span>untagged</span>
        <div class="progress">
          <div class="progress-bar <%= pl_bk(ratio) %> " role="progressbar" style="width: <%= "#{ratio}%" %>;" aria-valuenow=" <%= actual %> " aria-valuemin="0" aria-valuemax=" <%= max %> "></div>
        </div>
    </div>
  <% end %>
</div>

