<% ratio = actual.fdiv(max) * 100 %>

<div
class="row-container"
data-playlist-tags="<%= actual %>"
data-playlist-id="<%= id %>"
data-playlist-name="<%= title %>"
data-playlist-tracks="<%= max %>">

  <%= link_to playlist_path(id), class: 'link-row' do %>

    <div class="row-cover" style="background-image: url(<%= cover %>)"></div>

      <div class="row-details">
        <span class="row-title active-color line-clamp"><%= title %></span>
        <span class="row-subtitle"><%= subtitle %>,
          <% if actual == max && max != 0 %>
            <span class=" <%= pl_cl(ratio) %> "> <%= encouragement %> </span>
          <% else %>
          <span class=" <%= pl_cl(ratio) %> "> <%= max - actual %></span> untagged

          <% end %>

        </span>

        <div class="progress">
          <div class="progress-bar <%= pl_bk(ratio) %> " role="progressbar" style="width: <%= "#{ratio}%" %>;" aria-valuenow=" <%= actual %> " aria-valuemin="0" aria-valuemax=" <%= max %> "></div>
        </div>
    </div>

    <%= link_to playlist_modal_path(id) do %>
      <div class="mr-2 ellipsis-container">
        <i class="fas fa-ellipsis-v inactive-color" style="position: relative;"></i>
      </div>
    <% end %>
  <% end %>
</div>

