<% random = ("a".."z").to_a.sample(10).join + (1..100000).to_a.sample.to_s %>

<div class="row-container" data-user-track-id="<%= user_track_id if tag_list %>">

  <img src=" <%= cover %> " class="row-cover"></img>
  <div class="track-select-background" style="left: 16px;"><i class="fas fa-check check-track"></i></div>
  <%= link_to user_track_show_tags_path(user_track_id), class: "link-row", remote: true do %>

    <div class="row-details">
      <span class="row-title active-color line-clamp"><%= title %></span>
      <span class="row-subtitle"><%= subtitle %></span>
      <div class="mtag-small"> <%= pluralise('tag', tag_list.count) %></div>
    </div>

  <% end %>
  <%= link_to user_track_path(user_track_id) do %>
    <div class="mr-2 ellipsis-container">
      <i class="fas fa-ellipsis-v inactive-color" style="position: relative;"></i>
    </div>
  <% end %>

</div>
