<% random = ("a".."z").to_a.sample(10).join + (1..100000).to_a.sample.to_s %>

<div class="row-container" data-track-id="<%= track_id if tag_list %>">
  <div class="row-cover" style="background-image: url(<%= cover %>)"></div>
  <div class="row-details">
    <%= link_to path do  %>
      <span class="row-title active-color line-clamp"><%= title %></span>
    <% end %>
    <span class="row-subtitle inactive-color"><%= subtitle %></span>
    <% if  tag_list %>
      <span
        class="row-subtitle inactive-color tag-count"
        data-toggle="collapse"
        data-target="#<%= random %>"
        aria-expanded="false"
        aria-controls="<%= track_id %>">
        <%= pluralise("tag", tag_list.count) %>
      </span>
      <div class="collapse" id="<%= random %>">
        <% tag_list.each do |tag| %>
          <span class="badge badge-pill badge-light"><%= tag %></span>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if tag_list %>
    <div class="d-flex align-items-center mr-2">
      <i class="fas fa-ellipsis-h inactive-color" style="position: relative;">
        <div class="my-dropdown-menu d-none">
          <p
            class="my-dropdown-item py-1 pl-2"
            data-toggle="modal"
            data-target="#exampleModal">
            Edit Tags
          </p>
          <p class="my-dropdown-item py-1 pl-2">Action 3</p>
          <a class="text-black my-dropdown-item py-1 pl-2" href="<%= path %> ">Open in Spotify</a>
        </div>
      </i>
    </div>
  <% end %>
</div>
