<a href="/playlists/10/bulk-tag" method="post" name="tasoeur" remote="false"></a>

<div class='container mt-3'>
  <% if @user_tags.empty? && current_user.filter_all == false %>
    <%= render 'shared/home-empty-state' %>

  <% else %>

    <h1 class="big-title text-white">What do you want to listen ?</h1>
    <%= form_with(url: '/filter-user-tracks', method: 'get', local: false, class: 'd-flex align-items-center flex-column') do %>

      <div class="mt-2 badge-container big-tags" for="">
        <% @tags.each do |tag_name| %>
          <div class="mtag tag-inactive" onclick="styleTag('btn-submit-filter')"><%= tag_name %></div>
        <% end %>
      </div>

      <%= render 'shared/searchbar',
      user_tags: @user_tags,
      path: "",
      create_tag: false,
      used_tags: @used_tags %>

      <%= hidden_field_tag(:user_tracks, nil, id: 'hidden-input-tags', name: "tags", value: "") %>
      <%= submit_tag("Find tracks", class: 'btn-submit-filter mt-3 secondary-btn', id: 'btn-submit-filter') %>

    <% end %>
  <% end %>

  <% if @trackland_playlists.count > 0  %>
    <section id="my-playlists">
      <h1 class="big-title text-white mt-3">Recent Playlists</h1>
      <div class="trackland-playlists d-flex">
        <% @trackland_playlists.each do |playlist| %>

        <div class="trackland-playlists-details">
          <img class="tpl_cover"src=" <%= playlist.cover_url %> " alt="">
          <p style="font-size: 14px;" class="line-clamp text-white mt-1"> <%= playlist.name %></p>
          <p style="font-size: 14px;" class="line-clamp inactive-color"> Created <%= days_ago(playlist) %> days ago</p>
        </div>
        <% end %>
      </div>
    </section>
  <% end %>

</div>

<%= form_with(url: '/create-playlist-modal', method: 'get', local: true) do %>
    <%= hidden_field_tag(:tags, nil, id: 'hidden-input-tracks-ids', name: 'track-ids') %>
    <%= hidden_field_tag(:tags, nil, id: 'hidden-input-tags-create-playlist', name: 'tags') %>
    <%= submit_tag 'Create Playlist', class: 'primary-btn btn-fixed d-none', id: 'btn-create-playlist' %>
<% end %>

<%= render 'shared/create-playlist-modal' %>

<div id="user-max-filters" data-user-max-filters="<%= @max_filters %>"></div>
