var tagName = "<%= @tag %>"
var userTrackId = "<%= @id %>"
var points = "<%= @points %>"
var challenge = "<%= @challenge_completed %>"
var status = "<%= @status %>"
var statusChanged = "<%= @status_changed %>"

var challengeCompleted = "<%= @challenge_completed %>"
var tagsContainer = document.querySelector('.tags-container');
var tag = document.getElementById(`tag-${tagName}`)
var rowContainer = document.querySelector(`[data-user-track-id='${userTrackId}']`);
var badge = rowContainer.querySelector('.mtag-small');
var row = document.getElementById('add-tag')
var notification = "<%= @notification %>"
var input = document.getElementById('input-autocomplete')
var dropdownMenu = document.querySelector('.my-dropdown-menu-autocomplete')

function insertTag() {
  input.dataset.usedTags += `$$${tagName}`

  if (dropdownMenu.children.length > 0) {
    closeDropdownMenu()

  }
  row.dataset.suggestions = row.dataset.suggestions.split('$$').filter(e => e != tagName).join('$$')
  var tagCount = parseInt(badge.innerText.split(' ')[0]) + 1
  if (badge.innerText == "AUCUN TAG") {
    badge.innerText = "1 TAG"
  } else {
    badge.innerText = `${tagCount} TAGS`
  }
  tagsContainer.insertAdjacentHTML('beforeend', `<div class="mtag-small tag-primary mr-1 mb-1">${tagName}</div>`)
  console.log(tag)
  tag.remove();
}

displayAchievementNotification(status, statusChanged, challenge, points)

insertTag()
