
<div class="mt-4 d-flex" style="margin-left: 18px">
  <%= link_to playlists_path do %>
    <h1 class="small-title mr-3 inactive-color">Playlists</h1>
  <% end %>
  <%= link_to albums_path do %>
    <h1 class="small-title mr-3 text-white">Albums</h1>
  <% end %>
  <% if @likes %>
    <%= link_to playlist_path(@likes) do %>
      <h1 class="small-title mr-3 inactive-color">Likes</h1>
    <% end %>
  <% end %>
</div>

<% if @playlists.count == 0 %>
  <%= render 'shared/albums-empty-state' %>
<% end %>

<div style="margin-left: 18px" class="d-flex align-items-center mt-2">
  <div class='msearch d-flex align-items-center'>
    <div class="my-dropdown-menu-autocomplete d-none"></div>
    <i class="fas fa-search"></i>


    <%= form_with(url: '/search-tracks', method: 'get', local: false, id: 'search-form') do %>
        <input
    id="input-search"
    autocomplete="off"
    type="textarea"
    name="query"
    placeholder="Find tracks">

    <%= submit_tag '', class: 'd-none', id: 'hidden-submit' %>
    <% end %>
  </div>

  <div class="ml-3 mr-3 btn-filter text-white d-flex justify-content-center align-items-center" onclick='toggleModal("sort-playlist-modal")'>
    Filters
  </div>
  <p id="cancel-btn" class="text-white d-none ml-3 mr-3" style="padding: 5px 8px;min-width: 70px;">cancel</p>
</div>

<section id="my-playlists" class="">

  <% @playlists.each do |playlist| %>
    <%= render 'shared/playlist-row',
      title: playlist.name,
      subtitle: "#{playlist.user_playlist_tracks.count} tracks",
      cover: playlist.cover_url,
      path: playlist_path(playlist),
      id: playlist.id,
      actual: playlist.user_tracks.select(&:is_tag).count,
      max: playlist.user_playlist_tracks.count
     %>
  <% end %>

</section>

<section id="my-search" class="d-none">
  <div id="small-row-container"></div>
  <div class="search-empty-state">
    <i class="fab fa-itunes-note mb-3"></i>
    <h1 style="width: 60vw" id="emptystate-description" class="small-title inactive-color text-center">Search tracks by name or artist</h1>
  </div>
</section>

<%= render 'shared/sort-playlist-modal' %>
