<div class="playlist-modal-details pt-5 image-container" style="background: linear-gradient(gray -40%, #141414);">
    <%= link_to request.referer do %>
    <i class="fas fa-angle-left text-white back-icon"></i>
  <% end %>
  <img class="playlist-modal-cover" src=" <%= @playlist.cover_url %> ">
  <h1 class="big-title text-white playlist-modal-name" style="margin-top:20px"> <%= @playlist.name %> </h1>
  <p class="playlist-modal-description d-none text-center inactive-color mx-3"></p>

  <div style="max-width: 90%" class="badge-container mb-0"></div>
</div>

<% @user_tracks.each do |user_track| %>
  <% track = user_track.track %>

  <%= render 'shared/row',
    title: track.name,
    subtitle: "#{track.artist}",
    cover: track.cover_url,
    path: track.external_url,
    tag_list: user_track.tags.map(&:name),
    user_track_id: user_track.id
  %>
<% end %>

<%= render 'shared/track-modal' %>

<div data-list-tags="<%= @user_tags %>" id="hidden-list-tag" class="d-none"></div>
<!-- <div id="bulk-tag" class="primary-btn btn-fixed d-none" style="z-index: 100"></div> -->

<%= form_with(url: '/bulk-modal', method: 'get', local: true, class: '', id: 1) do %>
  <%= hidden_field_tag(:tracks, nil, id: 'hidden-input-user-tracks-ids', name: "user-track-ids", value: '') %>
  <%= hidden_field_tag(:tracks, nil, id: 'hidden-input-playlist-id', name: "playlist-id", value: @id) %>
  <%= submit_tag("Use other users' tracks", class: 'primary-btn btn-fixed d-none', id: 'bulk-tag') %>
<% end %>

<div
  class="d-none"
  data-challenge-completed="<%= @challenge_completed %>"
  data-user-points="<%= @points %>"
  data-user-status="<%= @status %>"
  data-status-changed="<%= @status_changed %>"
  id="manage_achievements"
  >
</div>
