<!DOCTYPE html>
<html>
  <head>
    <title>SpotifySmartTags</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_include_tag "application" %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_paw' %>
  </head>

  <body>
    <% if current_user&.connectors&.empty? %>
      <%= render 'shared/connectors' %>
    <% elsif !current_user&.data_updates&.empty? %>
      <%= render 'shared/navbar' if current_user %>
    <% end %>

    <%= yield %>

    <div style="height: 48px; width: 100%"></div>
    <div id="dark-background" class="d-none"></div>
  </body>
</html>
